<form>
  <div class="field">
    <label class="label">Label</label>
    <div class="control">
      <input class="input" type="text" 
      placeholder="Text input">
      <input class="input" type="radio">
      <input class="input" type="checkbox">
    </div>
  </div>
</form>

<script src="./js/profile.js"></script>